<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBfmm_ExxF4NTn_Odg1QLu7MN2PEFWOBfY</string>
	<key>GCM_SENDER_ID</key>
	<string>736762751665</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.shuttletrack</string>
	<key>PROJECT_ID</key>
	<string>shuttletrack-6de2b</string>
	<key>STORAGE_BUCKET</key>
	<string>shuttletrack-6de2b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:736762751665:ios:ffbc3217e26c81c7dd1090</string>
</dict>
</plist>